/* Styles for Cascades by M. C. DeMarco.
   Background pattern from subtlepatterns.com */

/* basics */

* {
    box-sizing:border-box;
}

/* layout */

html, body {
    margin:0;
    height:100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, div.foundationWrapper {
    padding:0 0 0 .66em;
}

main {
    display: flex;
}

.leftColumn {
    width: 300px;
    flex: 0 0 300px;
}

div.stock, div.waste {
    float:left;
    padding-right:5%;
}


/* font and color */

@font-face {
    font-family: "Fortune Letters";
    src: url(../css/fortune-letters.ttf) format("truetype");
}

body {
    background-image:url('../css/skulls.png');
    font-family: 'Segoe UI', 'Century Gothic', 'Lucida Grande', Tahoma, 'Gill Sans', sans-serif;
    color: #030;
}

h1, h2, h3 {
    font-family: 'Fortune Letters', Futura, Geneva, sans-serif;
}

button {
    font-family: 'Fortune Letters', Futura, Geneva, sans-serif;
}

div.message {
    padding-top: 40px;
    color: coral;
}

div.versionWrapper p {
    font-style:italic;
    color:gray;
}

/* cards */


/* Sizing
   original card size: 100x150
   teeny size: 62x87
   remix card size: 124x174
   embiggened size: 186x261
   card source file size: 372x522 
*/

img.card {
    width:124px;
    height:174px;
    border-radius:6px;
    border:thin solid #432; 
    background-size:124px 174px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

div.foundation {
    height: 180px;
    position: relative;
    width: 300px;
}

.foundation img.card {
    position:absolute;
}




